{% extends 'public_layout.html' %}

{% block content %}
    <section class="ftco-section ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-primary">How long does it take to get my tape recording back?</h2>
                    <p class="text-black">
                        The generally your recordings will be done in
                        2 business days or less. This is subject to change as workload
                        increses.
                    </p>
                </div>

            </div>


    </section>

{% endblock %}
