{% extends 'public_layout.html' %}

{% block content %}
    <section class="ftco-section ">
        <div class="container">
            <h2 class="text-black text-center">Terms of Service</h2>
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-primary">TapeFlip.app</h3>
                    <p class="text-black">
                        This document states the terms and conditions („Terms”) upon which TapeFlip.app
                        („we” or „us”) will provide service to you on its websites, including, without
                        limitation, the above listed websites (collectively, the „Website”). These Terms
                        constitute a contractual agreement between you and us. By visiting, accessing, using,
                        and/or joining (collectively „using”) the Website, you express your understanding and
                        acceptance of these Terms. As used in this document, the terms „you” or „your” refers
                        to you, any entity you represent, your or its representatives, successors, assigns and
                        affiliates, and any of your or their devices. If you do not agree to be bound by these
                        Terms, navigate away from the Website and cease using it.

                    </p>
                    <h3 class="text-primary">Intellectual Property</h3>
                    <p class="text-black">
                        The Content on this Website, excluding User Submissions but including other text,
                        graphical images, photographs, music, video, software, scripts and trademarks,
                        service marks and logos contained therein, are owned by and/or licensed to us unless otherwise noted.
                        All Proprietary Materials are subject to copyright, trademark and/or other rights under the laws of
                        applicable jurisdictions, including domestic laws, foreign laws, and international conventions.
                        We reserve all our rights over our Proprietary Materials.
                        Except as otherwise explicitly permitted, you agree not to copy, modify, publish, transmit,
                        distribute, participate in the transfer or sale of, create derivative works of, or in any other way exploit,
                        in whole or in part, any Content.
                    </p>
                    <h3 class="text-primary">User Submissions</h3>
                    <p class="text-black">
                        Any files you upload to the website are assumed to be your intellecutal property,
                        or you own or have the necessary licenses, permissions, rights or consents to use them.
                        TapeFlip.app doesn't collect any royalties, or piece of ownership to any intellectual property (music, images)
                        you upload.
                    </p>
                    <h3 class="text-primary">Content on the Website</h3>
                    <p class="text-black">
                        We claim no ownership or control over Third Party Content.
                        Third parties retain all rights to Third Party Content and they are
                        responsible for protecting their rights as appropriate.
                    </p>
                    <h3 class="text-primary">User Conduct</h3>
                    <p class="text-black">
                            You agree not to use the Website for any unlawful purpose or in any way that is prohibited by these Terms;
                            <br>You agree to abide by all applicable local, state, national and international laws and regulations;
                            <br>You agree not to use the Website in any way that exposes us to criminal or civil liability;
                            <br>You agree that you are solely responsible for all acts and omissions that occur as a result of your use of the Website;
                            <br>You agree that all your User Submissions belong to you and that you have the right and authority to provide them to us and make use of them on or through the Website;
                            <br>You agree not to use any automated means, including robots, crawlers or data mining tools, to download, monitor or use data or Content from the Website;
                            <br>You agree not to take any action that imposes, or may impose, in our sole discretion, an unreasonable or disproportionately large load on our technology infrastructure or otherwise make excessive demands on it;
                            <br>You agree not to „stalk” or otherwise harass anyone on or through the Website;
                            <br>You agree not to forge headers or otherwise manipulate identifiers in order to disguise the origin of any information you transmit;
                            <br>You agree not to disable, circumvent, or otherwise interfere with security related features of the Website or features that prevent or restrict use or copying of any content or which enforce limitations on the use of the Website or the content therein;
                            <br>You agree not to post, link to, or otherwise make available on the Website any material that contains software viruses or any computer code, file or program designed to interrupt, destroy, limit or monitor the functionality of any computer software or hardware or any telecommunications equipment;
                            <br>You agree not to license, sublicense, sell, resell, transfer, assign, distribute or otherwise in any way commercially exploit or make available the Website or any Content to any third party;
                            <br>You agree not to „frame” or „mirror” the Website; and
                            <br>You agree not to reverse engineer any portion of the Website.
                            <br>You are at least the age of majority in your state or province of residence,
                            or that you are the age of majority in your state or province of residence
                            and you have given us your consent to allow any of your minor dependents to use this site.
                            <br>We reserve the right to take appropriate action against any user for any
                            unauthorized use of the Website, including civil, criminal and injunctive redress
                            and the termination of any user's use of the Website. Any use of the Website and our
                            computer systems not authorized by these Terms is a violation of these Terms and certain
                            international, foreign and domestic criminal and civil laws.
                    </p>
                    <h3 class="text-primary">Fees</h3>
                    <p class="text-black">
                        You acknowledge that we reserve the right to charge for any or all
                        of our services and to change our fees from time to time in our sole discretion.
                        If at any time we terminate your rights to use the Website because of a breach of
                        these Terms, you shall not be entitled to a refund of any portion of your fees.
                        In all other respects, such fees shall be governed by additional rules, terms,
                        conditions or agreements posted on the Website and/or imposed by any sales agent or
                        payment processing company, as may be amended from time to time.
                    </p>
                </div>


            </div>


    </section>

{% endblock %}
