<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2"><a href="{{url_for('bp_main.home')}}">TapeFlip.app</a></h2>
                    <p>TapeFlip.app lets you get real tape recordings of your music.
                    Easily upload your audio files and then download their tape recordings.</p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-5">
                    <h2 class="ftco-heading-2">Links</h2>
                    <ul class="list-unstyled">
                        <li><a href="{{url_for('bp_main.roster')}}" class="py-1 d-block"><span class="ion-ios-arrow-forward"></span>Tape Machines</a></li>
                        <li><a href="{{url_for('bp_main.faq')}}" class="py-1 d-block"><span class="ion-ios-arrow-forward"></span>FAQ</a></li>
                        <li><a href="{{url_for('bp_main.pricing')}}" class="py-1 d-block"><span class="ion-ios-arrow-forward"></span>Buy Credits</a></li>
                        <li><a href="{{url_for('bp_main.tos')}}" class="py-1 d-block"><span class="ion-ios-arrow-forward"></span>Terms of Service</a></li>
                        <li><a href="{{url_for('bp_main.privacy')}}" class="py-1 d-block"><span class="ion-ios-arrow-forward"></span>Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-5">
                    <h2 class="ftco-heading-2">Contact</h2>
                    <ul class="list-unstyled">
                        <li><a href="mailto:reelone@tapeflip.app?subject=TapeFlip.app" class="py-1 d-block">reelone@tapeflip.app</a></li>

                    </ul>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="h6">
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved TapeFlip.app
                    <br>
                    Template by <a href="https://colorlib.com/wp/template/vineyard/" target="_blank">Colorlib</a>, flipped by <a href="https://michaelong.dev" target="_blank">Michael Long</a>
                </p>
            </div>
        </div>
    </div>
</footer>
