
<section class="ftco-section">
        <div class="container">

            <div class="row">
                <div class="col-md-3">
                    <h1>Some Demos</h1>
                </div>
                <div class="col-md-9">
                    <div class="row demo">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-2 pb-5 pr-0 text-right">
                                    <button id="play-button-1" class="btn btn-primary icon-play" type="button" name="button" onclick="playPause('1')">
                                        <!-- <span class="icon-play"></span> -->
                                    </button>
                                </div>
                                <div class="col-10">
                                    <div id="waveform-1"></div>
                                    <p class="text-black">Original sample</p>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-2 pb-5 pr-0 text-right">
                                    <button id="play-button-2" class="btn btn-primary icon-play" type="button" name="button" onclick="playPause('2')">
                                        <!-- <span class="icon-play"></span> -->
                                    </button>
                                </div>
                                <div class="col-10">
                                    <div id="waveform-2"></div>
                                    <p class="text-black">Tape recording</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                </div>
                <div class="col-md-9">
                    <div class="row demo">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-2 pb-5 pr-0 text-right">
                                    <button id="play-button-3" class="btn btn-primary icon-play" type="button" name="button" onclick="playPause('3')">
                                        <!-- <span class="icon-play"></span> -->
                                    </button>
                                </div>
                                <div class="col-10">
                                    <div id="waveform-3"></div>
                                    <p class="text-black" >Original sample</p>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-2 pb-5 pr-0 text-right">
                                    <button id="play-button-4" class="btn btn-primary icon-play" type="button" name="button" onclick="playPause('4')">
                                        <!-- <span class="icon-play"></span> -->
                                    </button>
                                </div>
                                <div class="col-10">
                                    <div id="waveform-4"></div>
                                    <p class="text-black" >Tape recording</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




        </div>
    </section>
